
/*
COLOURS
--------------------
Cadet Blue -- #5F9EA0

*/


@import "normalize";
@import "main";


$brand-color: lightgrey;
$spacing: 20px;

body {
	background: lighten( $brand-color, 30% );
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #333333;
}
a {
	text-decoration: none;
}
.site-header {
	top: 0;
	left: 0;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #333333;
	z-index: 999;

	h3 {
		text-align: center;
		color:#fff;

		&:hover {
			color:white;
		}
	}
	.logo {
		width:100px - ( $spacing * 2);
	}
}

.sidebar-nav {
	background: #151718;
	width: 200px;
	height: 100%;
	display: block;
	position: absolute;
	left: -200px;
	top: 50px;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;

			a {
				background: #1C1E1F;
				color: #ccc;
				border-bottom: 1px solid #111;
				display: block;
				width: 180px;
				padding: 10px;
			}
		}
	}
}
.sidebar-nav.visible {
	left: 0;
	position: fixed;
	transition: left 0.3s linear;
}

.sidebar-btn {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px 20px 20px;
	position: absolute;
	left: 200px;
	top: 0;
	z-index: 1000;

	span {
		height: 1px;
		background: #111;
		margin-bottom: 5px;
		display: block;
	}
}

.site-content {
	margin: 20px;
	padding: 20px;
	position: relative;
	top: 50px;
	left: 220px;
}


